.label.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Rounded border */
  border-radius: 9999px;
  /* Size */
  height: 16px;
  width: 32px;
  /* OFF status */
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* Push the circle to the right */
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.label.toggle .label__circle {
  /* Rounded border */
  border-radius: 9999px;
  /* Size */
  width: 16px;
  background-color: #fff;
  /* OFF status */
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.label__input {
  /* Hide the input */
  display: none;
  /* ON status */
}

.label__input:checked ~ .label.toggle {
  background-color: #d39bff;
  border: 1px solid #d39bff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#button-easy {
  position: fixed;
  top: 200px;
  right: 10px;
}

body {
  -webkit-transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

html body.white-background.darkmode,
html body.darkmode {
  background-color: #383a3f;
}

body.darkmode main div .style_color-dark-gray__2xqK_ {
  color: #ffffff;
}

body.darkmode main div .styles_selected__hQGhg {
  background: none;
}

body.darkmode main div .styles_item__1QTTj,
body.darkmode main div .styles_item__t3KS1 {
  background-color: #616369;
  background-image: none;
  padding: 0.2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 0.4rem;
  -webkit-transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

body.darkmode main div .styles_item__1QTTj:hover,
body.darkmode main div .styles_item__t3KS1:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(107, 122, 255, 0.5)), to(rgba(248, 122, 255, 0.5)));
  background: linear-gradient(90deg, rgba(107, 122, 255, 0.5) 0%, rgba(248, 122, 255, 0.5) 100%);
}

@media screen and (min-width: 768px) {
  body.darkmode main div.styles_item__1uFx1 {
    background-color: #616369;
    background-image: none;
    padding: 0.2rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.4rem;
    -webkit-transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  body.darkmode main div.styles_item__1uFx1:hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(107, 122, 255, 0.5)), to(rgba(248, 122, 255, 0.5)));
    background: linear-gradient(90deg, rgba(107, 122, 255, 0.5) 0%, rgba(248, 122, 255, 0.5) 100%);
  }
}

body.darkmode main div.styles_item__1uFx1 button[data-test="follow-button"]:hover {
  border-color: #d39bff;
}

body.darkmode main div button.styles_feed__rBj4Q:not(:disabled):focus,
.styles_feed__rBj4Q:not(:disabled):hover {
  border-color: #ffffff;
}

body.darkmode main div a.styles_externalLinkIcon__1p0HV svg:hover g {
  stroke: #d39bff;
}

body.darkmode main div a.styles_externalLinkIcon__1p0HV svg g {
  stroke: #ffffff;
}

body.darkmode main div input {
  color: #24272c;
}

body.darkmode div.style_layoutContainer__28zFz main div button.styles_buttonV6__122c5:hover {
  border: 1px solid #d39bff;
}

#__next.darkmode .styles_constraintWidth__3mc1j,
#__next.darkmode .styles_mainContainer__2cWSk {
  background-color: #383a3f;
}

#__next.darkmode .styles_constraintWidth__3mc1j span,
#__next.darkmode .styles_constraintWidth__3mc1j div.styles_font__2Nqit,
#__next.darkmode .styles_mainContainer__2cWSk span,
#__next.darkmode .styles_mainContainer__2cWSk div.styles_font__2Nqit {
  color: #ffffff;
}

#__next.darkmode .styles_constraintWidth__3mc1j div.styles_content__2SyXA,
#__next.darkmode .styles_mainContainer__2cWSk div.styles_content__2SyXA {
  background-color: #24272c;
  -webkit-box-shadow: rgba(255, 235, 235, 0.03) 0px 1px 3px 0px, rgba(255, 235, 235, 0.03) 0px 0px 0px 1px;
          box-shadow: rgba(255, 235, 235, 0.03) 0px 1px 3px 0px, rgba(255, 235, 235, 0.03) 0px 0px 0px 1px;
  border: none;
}

#__next.darkmode .styles_constraintWidth__3mc1j div.styles_light__1wDke,
#__next.darkmode .styles_mainContainer__2cWSk div.styles_light__1wDke {
  color: #bac4d3;
}

#__next.darkmode .styles_constraintWidth__3mc1j p.styles_light__1wDke,
#__next.darkmode .styles_mainContainer__2cWSk p.styles_light__1wDke {
  color: #bac4d3;
}

#__next.darkmode .styles_constraintWidth__3mc1j div.styles_format__219oD a,
#__next.darkmode .styles_mainContainer__2cWSk div.styles_format__219oD a {
  color: #d39bff;
}

#__next.darkmode .styles_constraintWidth__3mc1j div a.styles_orangeSolidColor__21DFh,
#__next.darkmode .styles_mainContainer__2cWSk div a.styles_orangeSolidColor__21DFh {
  background-color: #d39bff;
  border: 1px solid #d39bff;
}

#__next.darkmode .styles_constraintWidth__3mc1j form button.styles_orangeSolidColor__21DFh,
#__next.darkmode .styles_mainContainer__2cWSk form button.styles_orangeSolidColor__21DFh {
  background-color: #d39bff;
  background: #d39bff;
  border: 1px solid #d39bff;
}

#__next.darkmode .styles_constraintWidth__3mc1j form button.styles_orangeSolidColor__21DFh:hover,
#__next.darkmode .styles_mainContainer__2cWSk form button.styles_orangeSolidColor__21DFh:hover {
  background-color: #d7a2ff;
  background: #d7a2ff;
}

#__next.darkmode .styles_constraintWidth__3mc1j div.styles_headerActions__2YuMs a.styles_orange__3VieU,
#__next.darkmode .styles_mainContainer__2cWSk div.styles_headerActions__2YuMs a.styles_orange__3VieU {
  color: #d39bff;
}

#__next.darkmode .styles_constraintWidth__3mc1j div.styles_headerActions__2YuMs a.styles_grey__3J1TQ,
#__next.darkmode .styles_mainContainer__2cWSk div.styles_headerActions__2YuMs a.styles_grey__3J1TQ {
  color: #bac4d3;
}

#__next.darkmode .styles_constraintWidth__3mc1j input,
#__next.darkmode .styles_mainContainer__2cWSk input {
  color: #24272c;
}

#__next.darkmode .styles_mainContainer__2cWSk .lazyload-wrapper {
  overflow: hidden;
}

#__next.darkmode div.lazyload-wrapper a.styles_title__Mlj8B {
  color: #d39bff;
}

#__next.darkmode div.lazyload-wrapper a.styles_day__28oPM {
  color: #bac4d3;
}

#__next.darkmode div.styles_heroBgTablet__1Gu3w {
  background: url(https://ph-static.imgix.net/static/photo-matrix-2x.png) no-repeat 400% #383a3f;
}

#__next.darkmode div.styles_heroBgTablet__1Gu3w h1 {
  color: #ffffff;
}

#__next.darkmode div.styles_heroBgTablet__1Gu3w p {
  color: #bac4d3;
}

#__next.darkmode div.styles_heroBgDesktop__2sXwq {
  background: url(https://ph-static.imgix.net/static/photo-matrix-2x.png) no-repeat 50% #383a3f;
}

#__next.darkmode div.styles_heroBgDesktop__2sXwq h1 {
  color: #ffffff;
}

#__next.darkmode div.styles_heroBgDesktop__2sXwq p {
  color: #bac4d3;
}

#__next.darkmode div.style_layoutContainer__28zFz div.styles_desktopContent__yLBKQ button.styles_button__Jp_rd {
  background-color: #d39bff;
}

#__next.darkmode div.style_layoutContainer__28zFz div.styles_desktopContent__yLBKQ button.styles_button__Jp_rd.styles_primary__3PAAX::after {
  background: -webkit-gradient(linear, left top, right top, from(#6b7aff), to(#f87aff));
  background: linear-gradient(90deg, #6b7aff 0%, #f87aff 100%);
}

#__next.darkmode div.style_layoutContainer__28zFz div.styles_desktopContent__yLBKQ button.styles_button__Jp_rd:hover {
  background: #ffffff;
}

#__next.darkmode div div.style_fontSize-24__1Kg2n,
#__next.darkmode div a.style_fontSize-32__2t_bf {
  color: #ffffff;
}

#__next.darkmode div .style_color-dark-gray__2xqK_ {
  color: #bac4d3;
}

#__next.darkmode div.styles_constraintWidth__3mc1j.styles_container__2RHCt button.styles_orangeSolidColor__21DFh {
  background: linear-gradient(128deg, #e52c78 0%, #162ec3 50%, #07e2f6 100%);
  border: none;
}

#__next.darkmode div.styles_about__3c0Zy h2 {
  color: #d39bff;
}

#__next.darkmode section .styles_publicationsList__lVAfh li p {
  color: #bac4d3;
}

div[data-test="modal"] .styles_contentBackground__WWkDC {
  background: #24272c;
}

div[data-test="modal"] .styles_contentBackground__WWkDC .styles_login__2tm6p {
  background: #383a3f;
}

div[data-test="modal"] .styles_contentBackground__WWkDC .styles_login__2tm6p h1 {
  color: #ffffff;
}

div[data-test="modal"] .styles_contentBackground__WWkDC p {
  color: #bac4d3;
}

div[data-test="modal"] .styles_contentBackground__WWkDC button {
  background: #212121;
  color: white;
}

body.darkmode aside div.style_flex__3fKcB a.style_color-dark-gray__2xqK_ {
  color: #ffffff;
}

body.darkmode aside div.style_color-dark-gray__2xqK_ {
  color: #ffffff;
}

body.darkmode aside div.style_color-dark-gray__2xqK_ > span.style_color-blue__2u-D7 {
  color: #d39bff;
}

body.darkmode aside div.style_px-2__vyGns {
  background: -webkit-gradient(linear, left top, right top, from(#6b7aff), to(#f87aff));
  background: linear-gradient(90deg, #6b7aff 0%, #f87aff 100%);
}

body.darkmode aside button[data-test="newsletter-subscribe-button"] {
  background-color: #d39bff;
}

body.darkmode aside button[data-test="newsletter-subscribe-button"].styles_primary__3PAAX::after {
  background: -webkit-gradient(linear, left top, right top, from(#6b7aff), to(#f87aff));
  background: linear-gradient(90deg, #6b7aff 0%, #f87aff 100%);
}

body.darkmode aside button[data-test="newsletter-subscribe-button"]:hover {
  background: #ffffff;
}

body.darkmode aside div a.styles_line__2cOm7:not(:disabled):focus,
.styles_line__2cOm7:not(:disabled):hover {
  border-color: #ffffff;
}

body.darkmode aside ul li.styles_item__3kBzS,
body.darkmode aside div.styles_copyright__1lzac {
  color: #ffffff;
}

#__next.darkmode .style_bg-white__1Kf0r {
  background-color: #24272c;
  -webkit-box-shadow: 0 0 1px 1px rgba(245, 248, 255, 0.1);
          box-shadow: 0 0 1px 1px rgba(245, 248, 255, 0.1);
}

#__next.darkmode .style_bg-white__1Kf0r.styles_button__Jp_rd:hover {
  border: 1px solid #d39bff;
}

#__next.darkmode .style_color-light-gray__3YboO {
  color: #bac4d3;
}

#__next.darkmode .style_color-orange__14aO0 {
  color: #d39bff;
}

#__next.darkmode .styles_hamburger__23zxB > div {
  background-color: #bac4d3;
}

#__next.darkmode .styles_header__2LI5z a svg g path:first-child,
#__next.darkmode .styles_header__1ZF6R a svg g path:first-child {
  fill: #d39bff;
}

#__next.darkmode header h1.style_color-dark-gray__2xqK_,
#__next.darkmode header div.style_color-dark-gray__2xqK_,
#__next.darkmode header p {
  color: #ffffff;
}

body.darkmode button[data-test="login-button"] {
  background-color: #d39bff;
}

body.darkmode button[data-test="login-button"].styles_primary__3PAAX::after {
  background: -webkit-gradient(linear, left top, right top, from(#6b7aff), to(#f87aff));
  background: linear-gradient(90deg, #6b7aff 0%, #f87aff 100%);
}

body.darkmode button[data-test="login-button"]:hover {
  background: #ffffff;
}

#__next.darkmode .styles_hamburger__23zxB > div {
  background-color: #bac4d3;
}

body.darkmode .header,
.avatar__image-extra {
  background-color: #24272c;
  margin-bottom: 0px;
}

body.darkmode header .header__logo img {
  background-color: #d39bff;
  padding: 10px;
}

body.darkmode .container {
  background-color: #383a3f;
}

body.darkmode div .link__arrow a {
  color: #ffffff;
}

body.darkmode div .link__arrow {
  color: #ffffff;
}

body.darkmode div .paper .c__primary {
  color: #d39bff;
}

body.darkmode header div.container.header__container.o__ltr {
  background-color: #24272c;
}

body.darkmode div .t__no-und.paper.paper__article-preview {
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #314056;
}

body.darkmode footer.footer {
  background-color: #383a3f;
  margin-top: 0px;
}

body.darkmode div .collection__headline,
.paper__stack.animation__clicked {
  background-color: #596386;
}

body.darkmode div .c__darker {
  color: #ffffff;
}

body.darkmode div .g__space a {
  margin-top: 0px;
  background-color: #596386;
  padding-bottom: 10px;
}

body.darkmode div .section__bg {
  padding-bottom: 0px;
}

#__next.darkmode .styles_whiteRow__26wVY {
  background-color: #383a3f;
}

#__next.darkmode .styles_padding-xLarge__rIklV {
  background-color: #383a3f;
}

#__next.darkmode .styles_lineHeight__2RYYy.styles_medium__3fSwd {
  color: #ffffff;
}

#__next.darkmode .styles_orangeSolidColor__21DFh {
  background-color: #d39bff;
  border: 0px;
}

#__next.darkmode .styles_simpleVariant__1SJ3a {
  background-color: #d39bff;
  border: 0px;
}

#__next.darkmode .styles_lineHeight__2RYYy.styles_xLarge__24CcJ {
  color: #ffffff;
}

#__next.darkmode .styles_lineHeight__2RYYy.styles_small__2bw6M {
  color: #ffffff;
}

#__next.darkmode .styles_container__1oevE .p-apps--col-2:first-child {
  background-color: #383a3f;
}

#__next.darkmode .styles_container__1oevE .p-apps--col-2 h2 {
  color: #ffffff;
}

#__next .darkmode.styles_container__1oevE .p-apps--col-2 {
  background-color: #383a3f;
}
/*# sourceMappingURL=styles.css.map */