$background-color: #24272c;
// $box-shadow: "0 2px 4px 0 #4C5056";
$text-color: #bac4d3;
$white: #ffffff;
$background-second-color: #383a3f;
$background-color-image-button:#d39bff;

html body.white-background {
	background-color: $background-second-color;
}

main div .style_color-dark-gray__2xqK_ {
	color: $white;
}

main div .styles_selected__hQGhg {
	background: none;
}

#__next .style_bg-white__1Kf0r {
	background-color: $background-color;
}

#__next .style_color-light-gray__3YboO {
	color: $text-color;
}

#__next .styles_hamburger__23zxB>div {
	background-color: $text-color;
}

body .header,
.avatar__image-extra {
	background-color: $background-color;
	margin-bottom: 0px;
}

header .header__logo img {
	background-color: $background-color-image-button;
	padding: 10px;

}



body .container {
	background-color: $background-second-color;


}

div .link__arrow a {
	color: $white;
}

div .link__arrow {
	color: $white;
}

div .paper .c__primary {
	color: $background-color-image-button;
}

header div.container.header__container.o__ltr {
	background-color: $background-color;
}

div .t__no-und.paper.paper__article-preview {
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #314056;
}

body footer.footer {
	background-color: $background-second-color;
	margin-top: 0px;
}

div .collection__headline,
.paper__stack.animation__clicked {
	background-color: #596386;

}

div .c__darker {
	color: $white;
}

div .g__space a {
	margin-top: 0px;
	background-color: #596386;
	padding-bottom: 10px;
}

div .section__bg {
	padding-bottom: 0px;
}

#__next .styles_whiteRow__26wVY {
	background-color: $background-second-color;

}

#__next .styles_padding-xLarge__rIklV {
	background-color: $background-second-color;
}

#__next .styles_lineHeight__2RYYy.styles_medium__3fSwd {
	color: $white;
}

#__next .styles_orangeSolidColor__21DFh {
	background-color: $background-color-image-button;
	border: 0px;
}

#__next .styles_simpleVariant__1SJ3a {
	background-color: $background-color-image-button;
	border: 0px;
}

#__next .styles_lineHeight__2RYYy.styles_xLarge__24CcJ {
	color: $white;
}


#__next .styles_lineHeight__2RYYy.styles_small__2bw6M {
	color: $white;
}

#__next .styles_container__1oevE .p-apps--col-2:first-child {
	background-color: $background-second-color;
}

#__next .styles_container__1oevE .p-apps--col-2 h2 {
	color: $white;
}

#__next .styles_container__1oevE .p-apps--col-2 {
	background-color: $background-second-color;
}

// #__next .styles_container__1oevE .p-apps--col-1 {
// 	background-color: $background-second-color;
// }