$background-color: #24272c;
// $box-shadow: "0 2px 4px 0 #4C5056";
$text-color: #bac4d3;
$white: #ffffff;
$background-second-color: #383a3f;
$card-color: #616369;
$accent-color: #d39bff;
$lighter-accent-color: #d7a2ff;
$first-gradient: linear-gradient(90deg, rgba(107, 122, 255, 1) 0%, rgba(248, 122, 255, 1) 100%);
$first-gradient-opacity: linear-gradient(90deg, rgba(107, 122, 255, 0.5) 0%, rgba(248, 122, 255, 0.5) 100%);
$second-gradient: linear-gradient(128deg, rgba(229, 44, 120, 1) 0%, rgba(22, 46, 195, 1) 50%, rgba(7, 226, 246, 1) 100%);
$background-color-image-button: #d39bff;

// BODY
html body.white-background,
html body {
	background-color: $background-second-color;
}

// MAIN

main div .style_color-dark-gray__2xqK_ {
	color: $white;
}

main div .styles_selected__hQGhg {
	background: none;
}

main div .styles_item__1QTTj,
main div .styles_item__t3KS1 {
	background-color: $card-color;
	background-image: none;
	padding: 0.2rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 0.4rem;
	transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	&:hover {
		background: $first-gradient-opacity;
	}
}

main div.styles_item__1uFx1 {
	@media screen and (min-width: 768px) {
		background-color: $card-color;
		background-image: none;
		padding: 0.2rem;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
		border-radius: 0.4rem;
		transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		&:hover {
			background: $first-gradient-opacity;
		}
	}
	button[data-test="follow-button"]:hover {
		border-color: $accent-color;
	}
}

main div button.styles_feed__rBj4Q:not(:disabled):focus,
.styles_feed__rBj4Q:not(:disabled):hover {
	border-color: $white;
}

main div a.styles_externalLinkIcon__1p0HV {
	svg {
		&:hover {
			g {
				stroke: $accent-color;
			}
		}
		g {
			stroke: $white;
		}
	}
}

main div input {
	color: $background-color;
}

body div.style_layoutContainer__28zFz {
	main div {
		button.styles_buttonV6__122c5:hover {
			border: 1px solid $accent-color;
		}
	}
}

#__next .styles_constraintWidth__3mc1j,
#__next .styles_mainContainer__2cWSk {
	background-color: $background-second-color;
	span,
	div.styles_font__2Nqit {
		color: $white;
	}
	div.styles_content__2SyXA {
		background-color: $background-color;
		box-shadow: rgba(255, 235, 235, 0.03) 0px 1px 3px 0px, rgba(255, 235, 235, 0.03) 0px 0px 0px 1px;
		border: none;
	}
	div.styles_light__1wDke {
		color: $text-color;
	}
	p.styles_light__1wDke {
		color: $text-color;
	}
	div {
		&.styles_format__219oD a {
			color: $accent-color;
		}
		a {
			&.styles_orangeSolidColor__21DFh {
				background-color: $accent-color;
				border: 1px solid $accent-color;
			}
		}
	}
	form {
		button.styles_orangeSolidColor__21DFh {
			background-color: $accent-color;
			background: $accent-color;
			border: 1px solid $accent-color;
			&:hover {
				background-color: $lighter-accent-color;
				background: $lighter-accent-color;
			}
		}
	}
	div.styles_headerActions__2YuMs {
		a {
			&.styles_orange__3VieU {
				color: $accent-color;
			}
			&.styles_grey__3J1TQ {
				color: $text-color;
			}
		}
	}
	input {
		color: $background-color;
	}
}

#__next .styles_mainContainer__2cWSk {
	.lazyload-wrapper {
		overflow: hidden;
	}
}

#__next div.lazyload-wrapper {
	a.styles_title__Mlj8B {
		color: $accent-color;
	}
	a.styles_day__28oPM {
		color: $text-color;
	}
}

#__next div {
	&.styles_heroBgTablet__1Gu3w {
		background: url(https://ph-static.imgix.net/static/photo-matrix-2x.png) no-repeat 400% $background-second-color;
		h1 {
			color: $white;
		}
		p {
			color: $text-color;
		}
	}
	&.styles_heroBgDesktop__2sXwq {
		background: url(https://ph-static.imgix.net/static/photo-matrix-2x.png) no-repeat 50% $background-second-color;
		h1 {
			color: $white;
		}
		p {
			color: $text-color;
		}
	}
}

#__next div.style_layoutContainer__28zFz {
	div.styles_desktopContent__yLBKQ {
		button.styles_button__Jp_rd {
			background-color: $accent-color;
			&.styles_primary__3PAAX {
				&::after {
					background: $first-gradient;
				}
			}
			&:hover {
				background: $white;
			}
		}
	}
}

#__next div {
	div.style_fontSize-24__1Kg2n,
	a.style_fontSize-32__2t_bf {
		color: $white;
	}
	.style_color-dark-gray__2xqK_ {
		color: $text-color;
	}
}

#__next div.styles_constraintWidth__3mc1j.styles_container__2RHCt {
	button.styles_orangeSolidColor__21DFh {
		background: $second-gradient;
		border: none;
	}
}
// ASIDE

aside div.style_flex__3fKcB {
	a {
		&.style_color-dark-gray__2xqK_ {
			color: $white;
		}
	}
}

aside div.style_color-dark-gray__2xqK_ {
	color: $white;
	& > span.style_color-blue__2u-D7 {
		color: $accent-color;
	}
}

aside div.style_px-2__vyGns {
	background: $first-gradient;
}

aside button[data-test="newsletter-subscribe-button"] {
	background-color: $accent-color;
	&.styles_primary__3PAAX {
		&::after {
			background: $first-gradient;
		}
	}
	&:hover {
		background: $white;
	}
}

aside div a.styles_line__2cOm7:not(:disabled):focus,
.styles_line__2cOm7:not(:disabled):hover {
	border-color: $white;
}

aside ul li.styles_item__3kBzS,
aside div.styles_copyright__1lzac {
	color: $white;
}

// HEADER
#__next .style_bg-white__1Kf0r {
	background-color: $background-color;
	box-shadow: 0 0 1px 1px rgba(245, 248, 255, 0.1);
	&.styles_button__Jp_rd {
		&:hover {
			border: 1px solid $accent-color;
		}
	}
}

#__next .style_color-light-gray__3YboO {
	color: $text-color;
}

#__next .style_color-orange__14aO0 {
	color: $accent-color;
}

#__next .styles_hamburger__23zxB > div {
	background-color: $text-color;
}
#__next .styles_header__2LI5z a svg,
#__next .styles_header__1ZF6R a svg {
	g {
		path:first-child {
			fill: $accent-color;
		}
	}
}

#__next header {
	h1.style_color-dark-gray__2xqK_,
	div.style_color-dark-gray__2xqK_,
	p {
		color: $white;
	}
}

button[data-test="login-button"] {
	background-color: $accent-color;
	&.styles_primary__3PAAX {
		&::after {
			background: $first-gradient;
		}
	}
	&:hover {
		background: $white;
	}
}
#__next .styles_hamburger__23zxB > div {
	background-color: $text-color;
}

body .header,
.avatar__image-extra {
	background-color: $background-color;
	margin-bottom: 0px;
}

header .header__logo img {
	background-color: $background-color-image-button;
	padding: 10px;
}

body .container {
	background-color: $background-second-color;
}

div .link__arrow a {
	color: $white;
}

div .link__arrow {
	color: $white;
}

div .paper .c__primary {
	color: $background-color-image-button;
}

header div.container.header__container.o__ltr {
	background-color: $background-color;
}

div .t__no-und.paper.paper__article-preview {
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #314056;
}

body footer.footer {
	background-color: $background-second-color;
	margin-top: 0px;
}

div .collection__headline,
.paper__stack.animation__clicked {
	background-color: #596386;
}

div .c__darker {
	color: $white;
}

div .g__space a {
	margin-top: 0px;
	background-color: #596386;
	padding-bottom: 10px;
}

div .section__bg {
	padding-bottom: 0px;
}

#__next .styles_whiteRow__26wVY {
	background-color: $background-second-color;
}

#__next .styles_padding-xLarge__rIklV {
	background-color: $background-second-color;
}

#__next .styles_lineHeight__2RYYy.styles_medium__3fSwd {
	color: $white;
}

#__next .styles_orangeSolidColor__21DFh {
	background-color: $background-color-image-button;
	border: 0px;
}

#__next .styles_simpleVariant__1SJ3a {
	background-color: $background-color-image-button;
	border: 0px;
}

#__next .styles_lineHeight__2RYYy.styles_xLarge__24CcJ {
	color: $white;
}

#__next .styles_lineHeight__2RYYy.styles_small__2bw6M {
	color: $white;
}
